{{ if isset $.Site.Params "imagedir" }}
{{ $.Scratch.Set "imageDir" $.Site.Params.imageDir }}
{{ else }}
{{ $.Scratch.Set "imagedir" "" }}
{{ end }}

{{- $accession := .Get 0 -}}

{{- range $.Site.Data.objects.object_list -}}
  {{- if eq .accession_number $accession -}}
    {{ range first 1 .figure }}
      {{ $.Scratch.Set "imageSrc" .src }}
    {{ end }}
    {{- $imgPath := printf "%s/%s" ($.Scratch.Get "imageDir") ($.Scratch.Get "imageSrc") -}}
    <a href="../{{ .id }}/" class="quire-citation quire-object"><span class="visually-hidden">Citation: </span>{{- markdownify $accession -}}</a><span class="message quire-citation__inline-content quire-object__inline-content is-link"><span class="message-body">Cat. {{- markdownify .id -}}<br /><img src="{{ $imgPath | relURL }}" alt="" /></span></span>
  {{- end -}}
{{- end -}}
